<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert #{key}") %>
<% end %>

<div class="container-fluid">
  <div class="row user-show-upper">
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h4>ユーザー名</h4>
      <h1><%= @user.name %></h1>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      </br>
      <% if current_user && @user.id == current_user.id %>
        <%= link_to 'プロフィールを編集', edit_user_registration_path(@user), class: "btn btn-default edit-profile-button", role: "button" %>
      <% end %>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  </br></br></br></br>

  <div class="row">
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm4 col-md-4 col-lg-4">
      <div class="user-event-zone">
        開催予定イベント<%= @organizer_future_events.length if @organizer_future_events %>件
        </br></br>
        <% @organizer_future_events.each do |oevent| %>
          <% if oevent.present? %>
            <% if oevent.opening_time.year != Time.zone.now.year %>
              <%= oevent.opening_time.strftime('%Y年') %>
            <% end %>
            <%= oevent.opening_time.strftime('%m/%d') %>
            (<%= @day_of_the_week[oevent.opening_time.wday] %>)
            <%= link_to oevent.title, event_path(id: oevent.id) %>
          <% end %>
          </br>
        <% end %>
      </div>
      </br></br>
    </div>
    <div class="col-xs-12 col-sm4 col-md-4 col-lg-4">
      <div class="user-event-zone">
        参加予定イベント<%= @participant_future_events.length if @participant_future_events %>件
        </br></br>
        <% @participant_future_events.each do |pevent| %>
          <% if pevent.present? %>
            <% if pevent.opening_time.year != Time.zone.now.year %>
              <%= pevent.opening_time.strftime('%Y年') %>
            <% end %>
            <%= pevent.opening_time.strftime('%m/%d') %>
            (<%= @day_of_the_week[pevent.opening_time.wday] %>)
            <%= link_to pevent.title, event_path(id: pevent.id) %>
          <% end %>
          </br>
        <% end %>
      </div>
      </br></br>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
  </div>

  <div class="row">
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="user-event-zone">
        過去開催したイベント<%= @organizer_past_events.length if @organizer_past_events %>件
        </br></br>
        <% @organizer_past_events.each do |oevent| %>
          <% if oevent.present? %>
            <% if oevent.opening_time.year != Time.zone.now.year %>
              <%= oevent.opening_time.strftime('%Y年') %>
            <% end %>
            <%= oevent.opening_time.strftime('%m/%d') %>
            (<%= @day_of_the_week[oevent.opening_time.wday] %>)
            <%= link_to oevent.title, event_path(id: oevent.id) %>
          <% end %>
          </br>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm4 col-md-4 col-lg-4">
      <div class="user-event-zone">
        過去参加したイベント<%= @participant_past_events.length if @participant_past_events %>件
        </br></br>
        <% @participant_past_events.each do |pevent| %>
          <% if pevent.present? %>
            <% if pevent.opening_time.year != Time.zone.now.year %>
              <%= pevent.opening_time.strftime('%Y年') %>
            <% end %>
            <%= pevent.opening_time.strftime('%m/%d') %>
            (<%= @day_of_the_week[pevent.opening_time.wday] %>)
            <%= link_to pevent.title, event_path(id: pevent.id) %>
          <% end %>
          </br>
        <% end %>
      </div>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
</div>
