<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Event day</th>
      <th>Opening time</th>
      <th>Organizer</th>
      <th>Title</th>
      <th>maximum_number_of_people</th>
      <th>満席?</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_day %></td>
        <td><%= event.opening_time.hour %>:<%= event.opening_time.min %></td>
        <td><%= link_to event.organizer_id, user_path(id: event.organizer_id) %></td>
        <td><%= event.title %></td>
        <td><%= event.maximum_number_of_people %></td>
        <% if event.participants.count == event.maximum_number_of_people %>
          <td>満席</td>
        <% else %>
          <td>空きあり</td>
        <% end %>
        <td>
          <%= link_to 'Show', event %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
