<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert #{key}") %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<!-- <p>
  <strong>Image:</strong>
  <%= @event.image %>
</p> -->

<p>
  <strong>Event day:</strong>
  <%= @event.event_day %>
</p>

<p>
  <strong>Opening time:</strong>
  <%= @event.opening_time %>
</p>

<p>
  <strong>Ending time:</strong>
  <%= @event.ending_time %>
</p>

<p>
  <strong>Maximum number of people:</strong>
  <%= @event.maximum_number_of_people %>
</p>

<p>
  <strong>Deadline of participant for event:</strong>
  <%= @event.deadline_of_participant_for_event %>
</p>

<p>
  <strong>Receptionist:</strong>
  <%= @event.receptionist %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @event.organizer_id %>
</p>

<p>コメント一覧</p>
<div id="comments_area">
<!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/index', locals: { comments: @comments, event: @event } %>
</div>

<!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
<%= render partial: 'comments/form', locals: { comment: @comment, event: @event } %>

<p>
  <% if @participant.present? %>
    <%= link_to '参加キャンセル', participant_path(id: @participant.id), method: :delete, class: 'btn btn-warning', data: { confirm: '参加申し込みをキャンセルしますか？' } %>
  <% else %>
    <%= link_to '参加申し込み', participants_path(event_id: @event.id), method: :post, class: 'btn btn-primary', data: { confirm: '参加申し込みを確定させますか？' } %>
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
