<div class="container-fluid event-show-field">
  <div class="row event-show-list">
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
    <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert #{key}") %>
      <% end %>

      <div class="event-show title">
        イベント名：<%= @event.title %>
      </div>

      <div class="event-show eventdate">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <%= @event.event_day.year %>-<%= @event.event_day.month %>-<%= @event.event_day.day %>
        (<%= @day_of_the_week[@event.event_day.wday] %>)
        <%= @event.opening_time.hour %>:<%= @event.opening_time.min %>
        ~
        <% if @event.ending_time.present? %>
          <%= @event.ending_time.hour %>:<%= @event.ending_time.min %>
        <% end %>
      </div>

      <div class="event-show organizer">
        主催者：<%= link_to @event.organizer.name, user_path(id: @event.organizer_id) %>
      </div>

      <div class="event-show content">
        概要：</br>
        <%= @event.content %>
      </div>

      <div class="event-show participant">
        参加者：
        <% @event.participants.each do |participant| %>
          <%= link_to participant.name, user_path(id: participant.id) %>　
        <% end %>
      </div>

      <div class="number-of-remaining-participants">
        <% if current_user.id != @event.organizer.id %>
          <% if @remainings != 0 %>
            <% if @management.present? %>
              <%= link_to '　　　参加キャンセル　　　', management_path(id: @management.id), method: :delete, class: 'btn btn-warning', data: { confirm: '参加申し込みをキャンセルしますか？' } %>
            <% else %>
              <%= link_to '　　　参加申し込み　　　', managements_path(event_id: @event.id), method: :post, class: 'btn btn-primary', data: { confirm: '参加申し込みを確定させますか？' } %>
            <% end %>
            </br></br>
            最大参加人数：<%= @event.maximum_number_of_people %>人</br>
            あと<%= @event.maximum_number_of_people - @event.participants.count %>人参加できます。
          <% else %>
            <% if @management.present? %>
              <%= link_to '　　　参加キャンセル　　　', management_path(id: @management.id), method: :delete, class: 'btn btn-warning', data: { confirm: '参加申し込みをキャンセルしますか？' } %>
            <% end %>
            </br></br>
            最大参加人数：<%= @event.maximum_number_of_people %>人</br>
            キャンセル待ちです
          <% end %>
        <% end %>
      </div>

      </br></br>
      <p>質問と回答一覧</p>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, event: @event } %>
      </div>

      <%= render partial: 'comments/form', locals: { comment: @comment, event: @event } %>

      </br></br></br>
      <% if @event.organizer.id == current_user.id %>
        <%= link_to 'イベント情報修正', edit_event_path(@event) %>
      <% end %>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
  </div>
</div>
